button{
  position: relative;
  background: $primaryColor;
  padding: 14.14px 46px 15.02px;
  border: none;
  border-radius: 3px;
  
  // &::after{
  //   content: "";
  //   border-radius: 3px;
  //   position: absolute;
  //   width: 172px;
  //   height: 53px;
  //   top:0;
  //   left: 0;
  //   background: $primaryColor;
  // }

  &:hover, &:focus{
    background: $purple;
    border: 2px solid $pink;
  }
}
.heading2{
  font-size: 20px;
  font-weight: bold;
  span{
    color: $pink;
  }
}

.rank{
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 90px;
  height: 126px;
  background: hsla(288, 99%, 60%, 0.12);
  border: 1px solid $pink;
  border-radius: 8px;
  padding-top: 40px;

  img{
    width: 76px;
    position: absolute;
    top: -30%;
  }

  p{
    font-size: 12px;
  }

  .position{
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    line-height: 1.1;
  }

  .prize{
    font-size: 14px;
    font-weight: 700;
    color: $pink;
  }
}

.G{
  height: 147px;
  padding-top: 55px;
  background: #903AFF1f;
  border: 1px solid $lPurple;

  img{
    min-width: 125.67px;
    top: -50%;
  }

  .prize{
    color: $lPurple;
  }
}

@media (min-width: "780px"){
  .rank{
    width: 212px;
    height: 296px;
    padding-top: 111px;

    img{
      width: 179px;
    }

    p{
      font-size: 24px;
    }

    .position{
      font-size: 36px;
      font-weight: 600;
      padding: 5px 10px;
      line-height: .8;

      span{
        font-size: 24px;
      }
    }

    .prize{
      font-size: 32px;
      font-weight: 700;
      color: $pink;
    }
  }

  .G{
    height: 347px;

    img{
      width: 295px;
    }
  }
}