@media (min-width: "768px"){
  .App{
    width: 1512px;
    max-width: 1512px;
    // z-index: 2;

    h2, .heading2{
      font-size: 32px;
    }

    .navbar{
      flex-direction: row;
      padding: 67px 128px 30px;

      .logo{
        font-size: 36px;
      }

      .dNav{
        display: flex;
        gap: 56px;

        li{
          font-size: 16px;
        }

        button{
          margin-left: calc(121px - 36px);
        }
      }
    }

    .sec1{
      flex-direction: column;
      z-index: 3;

      .sec1-1{
        p{
          font-size: 36px;
        }
      }

      .sec1-2{
        display: grid;
        grid-template-columns: 843px calc(1512px - 843px);
        // flex-direction: row;

        .desc{
          text-align: left;
          margin-left: auto;
          padding-top: 80px;
          // margin-left: 128px;
          width: 722px;
          // margin-right: -42%;
          h1{
            // width: 722px;
            font-size: 75px;
          }

          p{
            padding: 0;
            font-size: 20px;
            width: 450px;
          }

          button{
            margin: 10px 0 20px;
          }

          .cDown{
            font-size: 64px;
            // margin-top: 77px;
          }
        }

        .images{
          // margin-left: -20px;
          .tGuy{
            // width: 828px;
            position: relative;
          }
          .globe{
            width: 667px;
          }
        }

      }
    }

    .sec2{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 30px 100px;
      gap: 60px;
      z-index: 5;
      background: $purple;

      .sec2-1{
        padding-left: 30px;
        img{
          width: 490px;
        }
        z-index: 1;
      }

      .sec2-2{
        z-index: 1;
        text-align: left;
        padding: 0 69px 0 0;

        p{
          margin: 0;
          padding: 0;
          font-size: 14px;
        }
      }
    }

    .sec3{
      flex-direction: row-reverse;
      z-index: 1;


      .sec3-2{
        width: 535px;
        text-align: left;

        p{
          padding: 0;
          margin: 0;
          font-size: 14px;
        }
      }
    }

    .sec4{
      flex-direction: row;
      justify-content: space-between;
      padding: 78px 119px;
      z-index: 1;

      .sec4-1{
        width: 710px;
      }

      .sec4-2{
        width: 564px;
        text-align: left;
        p{
          padding: 0;
          font-size: 14px;
        }

        button{
          margin-top: 30px;
        }
      }
    }

    .FAQ{
      flex-direction: row;
      justify-content: space-between;
      margin: auto 0;
      padding: 20px;
      text-align: left;
      z-index: 2;

      .FAQ1{
        width: 427px;
        margin-left: 200px;

        p, .answer{
          font-size: 14px;
        }

        .question{
          margin-bottom: 10px;
          .ques{
            font-size: 14px;
            // margin-bottom: 5px;
          }

        }
        hr{
          margin-bottom: 10px;
        }
      }

      .FAQ2{
        margin: 0;
        padding: 20px;

        .mImg{
          // margin-right: 0;
          width: 741px;
        }
      }
    }

    .timeline{
      p{
        font-size: 14px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;

      .timeline1{
        font-size: 12px;

        p{
          width: 346px;
        }
      }

      .timeline2{

        .timelines{
          p{
            font-size: 14px;
          }
        }
      }
    }

    .prizes{
      display: flex;
      z-index: 1;

      .prizes1{
        text-align: left;
        margin-left: 350px;
        margin-bottom: 80px;
      }

      .prizes2{
        display: flex;
        flex-direction: row;
        gap: 37px;
        // display: grid;
        // grid-template-columns: 1fr 3fr;

        .image{
          img{
            width: 548px;
          }
        }
      }
    }

    .partners{
      z-index: 1;
      .partner1{
        h2{
          font-size: 32px;
          margin-top: 100px;
        }
        p{
          font-size: 14px;
          width: 452px;
          padding: 22px 20px 65px;
          margin-bottom: 41px;
        }
      }

      .partner2{
        padding: 144px 178px;
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 12px;
        place-items: center;
        place-content: center;
        margin-bottom: 104.41px;

        hr{
          border: none;
        }
        .vertical{
          height: 112px;
          // margin: 5px 10px;
        }

        .horizontal{
          border-bottom: 2px solid $pink;
          width: 257px;
          margin: 2px 0px;
        }
        .libA{
          width: 120.56px;
        }
        .libP{
          width: 213.19px;
        }
        .winwise{
          width: 131.59px;
        }
        .wisper{
          width: 147.03px;
        }
        .pay{
          width: 204.37px;
          font-size: 51px;

          span{
            color: #00A3FF;
          }
        }
        .vplus{
          display: flex;
          flex-direction: column;
          width: 231px;
          line-height: 1;

          .virtual{
            font-size: 41px;

            span{
              color: #FF0000;
            }
          }
          .tg{
            font-size: 11px;
            margin-left: auto;
          }
        }
      }
    }

    .privacy{
      flex-direction: row;
      justify-content: space-between;
      text-align: left;

      .privacy1{
        .guidelines{
          display: flex;
          flex-direction: column;
          width: 569px;
          padding: 59px 72px;

          .lPolicy{
            display: flex;
            justify-content: start;
            text-align: left;
            // place-content: left;
            // place-items: left;
  
            image{
              margin-right: 14px;
            }
  
            p{
              width: 401px;
              font-size: 14px;
            }
          }
  
          button{
            align-self: center;
            text-align: center;
          }
        }
        margin-left: 130px;

      }

      .privacy2{
        margin-right: 60px;
        .shield{
          width: 530px;
          margin-bottom: 219px;
        }

        .guard{
          position: absolute;
          top: 120px;
          right: 11px;
          width: 559px;
        }
      }

    }
  }
}