.lens, .lens1, .lens2, .lens3, .lens4, .lens5, .lens6, .lens7, .lens8, .lens9, .lens10{
  z-index: -1;
  // background: $purple;
  mix-blend-mode: hard-light;
  min-width: 100%;
  position: absolute;
}
.quesMark, .starW, .starWs, .starWss, .starP, .starPs, .starG, .starGs, .creative, .arrow{
  z-index: -1;
  position: absolute;
}

.App{
  width: 390px;
  max-width: 390px;
  background: $purple;
  overflow: hidden;
  position: relative;
  z-index: 3;

  hr{
    border: thin solid $pink;
    border-bottom: 0;
  }
  .secDiv{
    border: 1px solid $lPurple;
    border-bottom: 0;
    opacity: .1;
  }


  .navbar{
    padding: 30px 48px;
    display: flex;
    z-index: 1;

    .logo{
      margin-right: auto;
      font-size: 15px;
      font-weight: bold;

      span{
        color: $pink;
      }
    }
  }

  .sec1{
    display: flex;
    position: relative;
    flex-direction: column;
    place-items: center;
    text-align: center;
    background: $purple;


    .lens{
      top: -5%;
      right: 20%;
    }

    .sec1-1{
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      background: transparent;

      p{
        font-style: italic;
        font-weight: 500;
        word-spacing: 5px;
      }
      img{
        width: 115px;
        margin-left: auto
      }
    }

    .sec1-2{
      .starW{
        width: 10px;
        left: 33%;
        top: -2%;
      }
      .starW:nth-child(2){
        width: 6px;
        left: 80%;
        opacity: .5;
      }
      .starW:nth-child(3){
        width: 6px;
        left: 75%;
        top: 27%;
        opacity: .5;
      }
      .creative{
        width: 18px;
        right: 26%;
        top: -4%;
      }

      .desc{
        padding: 0 40px;

        h1{
          font-size: 32px;
          font-weight: bold;
          line-height: 1.3;
          margin-bottom: 15.48px;

          span{
            color: $pink;
          }

          img{
            width: 22.12px;
          }
        }

        p{
          font-size: 13px;
          padding: 0 30px;
          margin-bottom: 24px;
        }

        .cdown{
          font-size: 48px;
          margin-top: 14px;
          margin-bottom: 16px;

          span{
            font-size: 14px;
          }
        }
      }

      .images{
        position: relative;
        // background: url('../src/assets/images/bgBlend.png');
        background: hsla(256, 48%, 11%, 1);

        .tGuy{
          // opacity: 1;
          mix-blend-mode: luminosity;
        }
        .globe{
          position: absolute;
          width: 338.07px;
          top: -2%;
          // right: 10%;
          right: 7%;
        }
      }
    }
  }

  .sec2{
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    padding: 0 43.925px;
    z-index: 1;

    .starG{
      width: 11px;
      left: 13%;
      top: 10%;
    }
    .starG:nth-child(1){
      width: 8px;
      right: -65%;
      top: 47%;
    }
    .arrow{
      width: 19.46px;
      top: 37%;
    }

    img{
      width: 264px;
      margin: 30px auto 58px;
      z-index: -2;
    }
    .img::before{
      content: "The Big Ideal";
      color: #FF0000;
      z-index: 3;
    }

    p{
      font-size: 13px;
      margin-top: 9px;
      margin-bottom: 67px;
      padding: 0 30px;
      font-weight: 300;
      line-height: 2;
      min-width: 321px;
    }
  }
  .sec3{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    background: $purple;

    .lens1{
      right: 110px;
      top: -15%;
    }
    .lens2{
      left: 80px;
      bottom: 111px;
    }
    .starW{
      width: 10px;
      left: 40px;
      // top: 21%;
      top: 185px;
    }
    .starWs{
      width: 12px;
      right: 43px;
      top: 59%;
      opacity: .3;
    }
    .starWss{
      width: 12px;
      left: 120px;
      top: 94%;
      opacity: 1;
    }

    img{
      // width: 294px;
      margin: 0px 10px 10px;
    }

    p{
      font-size: 13px;
      margin-top: 9px;
      margin-bottom: 67px;
      padding: 0 63.925px;
      font-weight: 300;
      line-height: 2;
      min-width: 321px;
    }
  }

  .sec3::before{
    content: '';
    position: absolute;
    top: -75px;
    width: 100vw;
    height: 7em;
    z-index: -3;
    background: green;
    background: $purple;
    // margin-top: -20px;
  }
  .sec4{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    padding: 0 0 58.65px;
    background: $purple;

    .lens3{
      top: 40px;
      right: 20%;
    }
    .lens4{
      bottom: 0px;
      right: -20%;
      opacity: .7;
    }
    .starP{
      width: 13px;
      top: -4.5%;
    }
    .starW{
      width: 10px;
      top: 86%;
      right: 10%;
    }
    .starWs{
      width: 12px;
      top: 11%;
      right: 41%;
      opacity: .4;
    }

    img{
      width: 332px;
      // height: 382px;
      margin: 74px auto 1px;
    }

    .sec4-2{
      p{
        font-size: 12px;
        margin-top: 16px;
        margin-bottom: 14px;
        padding: 0 73.925px;
        font-weight: 300;
        line-height: 2;
        min-width: 321px;

        span{
          // color: $pink;
          color: #FF26B9;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }

  .FAQ{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin: 60px 43.925px 58.65px;
    z-index: 1;

    .starP{
      width: 18px;
      top: -2%;
      left: 0;
    }

    .FAQ1{
      margin-bottom: 86px;

      p{
        font-size: 12px;
        line-height: 2;
        margin: 6px auto 45.69px;
      }
      .FAQbody{
        text-align: left;

        p{
          margin: 0;
          font-size: 12px;
          line-height: 1.5;
          margin: 10px 0 6px;
          padding-right: 50px;
        }

        .question{
          display: flex;
          align-items: flex-end;

          .icon{
            margin-left: auto;
            font-size: 20px;
            color: $pink;
            cursor: pointer;
          }
        }
      }
    }


    .FAQ2{
      position: relative;

      .quesMark{
        right: 55%;
        top: -10%;
      }
      .s{
        transform: scale(.6);
        right: 35%;
        top: -4%;
      }
      .s:nth-child(2){
        right: 75%;
      }

      .starW{
        width: 16px;
        bottom: -2%;
        right: 17%;
      }
      .starWs{
        width: 10px;
        top: 50%;
        left: 5%;
        opacity: .4;
      }
      .starG{
        width: 10px;
        left: 50%;
        top: -5%;
      }
      .starGs{
        width: 7px;
        left: 20%;
        top: 30%;
      }
    }
  }

  .timeline{
    padding: 45.68px;

    hr{
      border: none;
      border-left: 2px solid $pink;
      // height: 77px;
      height: 75px;
      // margin: auto 19px 0 auto;
    }

    .timeline1{
      text-align: center;
      margin-top: 40px;

      h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 17px;
      }

      p{
        margin-bottom: 56px;
        line-height: 2;
      }
    }

    .timeline2{
      p{
        font-size:  12px;
        font-weight: 100;
      }
      .emp{
        color: $pink;
        font-weight: bold;
      }

      .timelines{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 33.37px;

        .bullet{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 9px;

          p{
            width: 19.32px;
            height: 19.32px;
            border-radius: 100%;
            background: $primaryColor;
            text-align: center;
            margin-top: 4.68px;
          }
        }

        .content{
          p:nth-child(1){
            margin-bottom: 5px;
          }
          p:nth-child(3){
            margin-top: 5px;
          }
        }
      }
    }
  }

  .prizes{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    padding: 72px 0px;
    text-align: center;
    background: $purple;
    background: rgba(0, 0, 0, 0.2);
    background: rgba(16, 10, 33, 0.73);

    .lens5{
      top: 20px;
      right: 10%;
    }
    .lens6{
      right: -35%;
      bottom: -20px;
    }

    .prizes1{
      p{
        margin-top: 3px;
        font-size: 12px;
        width: 250px;
      }
    }

    .prizes2{
      display: flex;
      flex-direction: column;
      place-items: center;
      margin: 40px;

      .image{
        img{
          width: 321px;
          // margin-bottom: 113.4px;
          margin-bottom: 60px;
        }
      }

      .rewards{
        margin: 51.41px 0 0;
        display: flex;
        gap: 10px;
      }
    }
  }
  .prizes::before{
    content: "";
    width: 100vw;
    background-color: #FF0000;
    position: absolute;
  }


  .partners{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    padding: 41px;
    background: $purple;

    .lens7{
      top: -20%;
      right: 20%;
    }
    .lens8{
      bottom: -180px;
      right: -80px;
    }

    .partner1{
      h2{
        font-size: 20px;
        font-weight: bold;
      }
      p{
        font-size: 12px;
        padding: 5px 20px;
        line-height: 1.7;
        font-weight: 100;
        margin-bottom: 41px;
      }
    }

    .partner2{
      border: 1px solid $pink;
      border-radius: 5px;
      // padding: 38.21px 63.88px;
      padding: 38.21px 40px;
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: 36.08px auto 36.08px;
      place-items: center;
      place-content: center;
      margin-bottom: 104.41px;

      hr{
        border: none;
      }
      .vertical{
        border-left: 2px solid $pink;
        height: 29.84px;
        margin: 5px 10px;
      }

      .horizontal{
        border-bottom: 2px solid $pink;
        width: 68.27px;
        margin: 2px 0px;
      }
      .libA{
        width: 31.99px;
      }
      .libP{
        width: 56.57px;
      }
      .winwise{
        width: 34.92px;
      }
      .wisper{
        width: 39.01px;
      }
      .pay{
        width: 54.23px;
        font-size: 12px;

        span{
          color: #00A3FF;
        }
      }
      .vplus{
        display: flex;
        flex-direction: column;
        width: 69px;

        .virtual{
          font-size: 12px;

          span{
            color: #FF0000;
          }
        }
        .tg{
          font-size: 4px;
          margin-left: auto;
        }
      }
    }
  }

  .privacy{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    padding: 71px 47px;
    z-index: -1;
    background: $purple;

    .lens9{
      position: absolute;
      top: 35%;
      right: 25%;
    }
    .lens10{
      position: absolute;
      top: -9%;
      right: -25%;
    }

    p{
      font-size: 12px;
      line-height: 2;
      font-weight: 400;
    }
    .privacy1{
      margin-bottom: 48px;

      .head{
        margin-bottom: 28px;
      }

      .details{
        margin-bottom: 30px;
        padding: 12px;
      }

      .guidelines{
        background: #D9D9D908;
        border: 1px solid $pink;
        border-radius: 5px;
        padding: 45px 20px;

        .desc{
          // padding: 20px;
          margin-bottom: 21px;
        }

        .emp, .sub{
          text-align: left;
          font-weight: bold;
          font-size: 12px;
        }

        .emp{
          font-size: 13px;
          color: $pink;
        }

        .lPolicy{
          display: flex;
          align-items: start;
          justify-content: space-between;
          text-align: left;
          margin: 20px auto;

          img{
            width: 22px;
            // height: 22px;
            margin-top: 4px;
          }

          p{
            width: 215px;
            padding: 0;
          }
        }
      }
    }

    .privacy2{
      position: relative;

      .shield{
        width: 249px;
        margin-bottom: 219px;
      }

      .guard{
        position: absolute;
        top: 96px;
        right: 11px;
        width: 262px;
      }
    }
  }

  .footer{
    padding: 51px 68px;
    background: rgba(0, 0, 0, 0.2);

    .foot1{
      h3{
        font-size: 14px;
        font-weight: 500;
        color: $pink;
        margin-bottom: 6px;
      }
      .emp{
        color: $pink;
      }
      .about{
        .flogo{
          margin-right: auto;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 12px;

          span{
            color: $pink;
          }
        }

        p{
          font-size: 12px;
          font-weight: 100;
        }

        .aboutDesc{
          margin-bottom: 39px;
        }

        aside{
          display: flex;
          margin-bottom: 32px;

          hr{
            border-left: 1px solid $pink;
            height: 17px;
            margin: 0px 12px;
          }
        }
      }

      .fNav{
        margin-bottom: 61px;

        p{
          font-size: 12px;
          margin-bottom: 12px;
        }

        aside{
          p{
            margin: 0;
          }
          .ig, li{
            width: 24px;
          }
          .x{
            width: 19px;
          }
          .fb{
            width: 10.5px;
          }
          display: flex;
          gap: 16px;
          place-items: center;
          // place-content: center;
        }
      }

      .contact{
        p{
          font-size: 12px;
        }
        div{
          img{
            margin-top: 4px;
          }
          display: flex;
          align-items: start;
          gap: 16px;
          margin-bottom: 23px;
        }
      }
    }

    .foot2{
      text-align: center;
      margin-top: 60px;
      p{
        font-size: 12px;
      }
    }
  }
}