.lens{
  position: absolute;
  z-index: -1;
  right: 20%;
}

.App{
  max-width: 390px;
  background: $purple;

  hr{
    border: 1px solid $lPurple;
    border-bottom: 0;
  }

  button{
    background: $primaryColor;
    padding: 14.14px 46px 15.02px;
    border: none;
    border-radius: 3px;
  }
  .heading2{
    font-size: 20px;
    font-weight: bold;
    span{
      color: $pink;
    }
  }

  .navbar{
    padding: 30px 48px;
    display: flex;

    .logo{
      margin-right: auto;
      font-size: 15px;
      font-weight: bold;

      span{
        color: $pink;
      }
    }
  }

  .sec1{
    display: flex;
    position: relative;
    flex-direction: column;
    place-items: center;
    text-align: center;
    z-index: 1;

    // .lens{
    //   position: absolute;
    //   z-index: 0;
    //   right: 1%;
    // }

    .sec1-1{
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      background: transparent;
      z-index: 1;

      p{
        font-style: italic;
        font-weight: 500;
        word-spacing: 5px;
      }
      img{
        width: 115px;
        margin-left: auto
      }
    }

    .sec1-2{

      .desc{
        padding: 0 40px;

        h1{
          font-size: 32px;
          font-weight: bold;
          line-height: 1.3;
          margin-bottom: 15.48px;

          span{
            color: $pink;
          }

          img{
            width: 22.12px;
          }
        }

        p{
          font-size: 13px;
          padding: 0 30px;
          margin-bottom: 24px;
        }

        .cdown{
          font-size: 48px;
          margin-top: 14px;
          margin-bottom: 16px;

          span{
            font-size: 14px;
          }
        }
      }

      .images{
        position: relative;

        .tGuy{
          opacity: 1;
        }
        .globe{
          position: absolute;
          width: 338.07px;
          top: -2%;
          // right: 10%;
          right: 7%;
        }
      }
    }
  }

  .sec2{
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin: 0 43.925px;

    img{
      width: 264px;
      margin: 30px auto 58px;
    }

    p{
      font-size: 13px;
      margin-top: 9px;
      margin-bottom: 67px;
      padding: 0 30px;
      font-weight: 300;
      line-height: 2;
      min-width: 321px;
    }
  }
  .sec3{
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin: 0 43.925px;

    img{
      width: 294px;
      height: 382px;
      margin: 0px auto 10px;
    }

    p{
      font-size: 13px;
      margin-top: 9px;
      margin-bottom: 67px;
      padding: 0 30px;
      font-weight: 300;
      line-height: 2;
      min-width: 321px;
    }
  }
  .sec4{
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin: 0 43.925px 58.65px;

    img{
      width: 332px;
      // height: 382px;
      margin: 74px auto 1px;
    }

    .sec4-2{
      p{
        font-size: 12px;
        margin-top: 16px;
        margin-bottom: 14px;
        padding: 0 30px;
        font-weight: 300;
        line-height: 2;
        min-width: 321px;

        span{
          color: $pink;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }
}