.lens, .lens1, .lens2, .lens3, .lens4, .lens5, .lens6, .lens7, .lens8, .lens9, .lens10{
  z-index: -1;
  // background: $purple;
  mix-blend-mode: hard-light;
  min-width: 100%;
  position: absolute;
}
.quesMark, .starW, .starWs, .starWss, .starP, .starPs, .starG, .starGs, .creative, .arrow, .tick{
  z-index: -1;
  position: absolute;
}

.confirmed{
  z-index: 3;
  position: fixed;
  // margin-top: -50%;
}
.register{
  // z-index: 2;
}
.reg-confirm{
  z-index: 0;
}

.App{
  width: 390px;
  max-width: 390px;
  background: $purple;
  overflow: hidden;
  position: relative;
  z-index: 3;

  hr{
    border: thin solid $pink;
    border-bottom: 0;
  }
  .secDiv{
    border: 1px solid $lPurple;
    border-bottom: 0;
    opacity: .1;
  }


  .navbar{
    padding: 30px 48px;
    display: flex;
    z-index: 1;

    .logo{
      margin-right: auto;
      font-size: 15px;
      font-weight: bold;

      span{
        color: $pink;
      }
    }
  }

  .sec1{
    display: flex;
    position: relative;
    flex-direction: column;
    place-items: center;
    text-align: center;
    background: $purple;


    .lens{
      top: -5%;
      right: 20%;
    }

    .sec1-1{
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      background: transparent;

      p{
        font-style: italic;
        font-weight: 500;
        word-spacing: 5px;
      }
      img{
        width: 115px;
        margin-left: auto
      }
    }

    .sec1-2{
      .starW{
        width: 10px;
        left: 33%;
        top: -2%;
      }
      .starW:nth-child(2){
        width: 6px;
        left: 80%;
        opacity: .5;
      }
      .starW:nth-child(3){
        width: 6px;
        left: 75%;
        top: 27%;
        opacity: .5;
      }
      .creative{
        width: 18px;
        right: 26%;
        top: -4%;
      }

      .desc{
        padding: 0 40px;

        h1{
          font-size: 32px;
          font-weight: bold;
          line-height: 1.3;
          margin-bottom: 15.48px;

          span{
            color: $pink;
          }

          img{
            width: 22.12px;
          }
        }

        p{
          font-size: 13px;
          padding: 0 30px;
          margin-bottom: 24px;
        }

        .cdown{
          font-size: 48px;
          margin-top: 14px;
          margin-bottom: 16px;

          span{
            font-size: 14px;
          }
        }
      }

      .images{
        position: relative;
        // background: url('../src/assets/images/bgBlend.png');
        background: hsla(256, 48%, 11%, 1);

        .tGuy{
          // opacity: 1;
          mix-blend-mode: luminosity;
        }
        .globe{
          position: absolute;
          width: 338.07px;
          top: -2%;
          // right: 10%;
          right: 7%;
        }
      }
    }
  }

  .sec2{
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    padding: 0 43.925px;
    z-index: 1;

    .starG{
      width: 11px;
      left: 13%;
      top: 10%;
    }
    .starG:nth-child(1){
      width: 8px;
      right: -65%;
      top: 47%;
    }
    .arrow{
      width: 19.46px;
      top: 37%;
    }

    img{
      width: 264px;
      margin: 30px auto 58px;
      z-index: -2;
    }
    .img::before{
      content: "The Big Ideal";
      color: #FF0000;
      z-index: 3;
    }

    p{
      font-size: 13px;
      margin-top: 9px;
      margin-bottom: 67px;
      padding: 0 30px;
      font-weight: 300;
      line-height: 2;
      min-width: 321px;
    }
  }
  .sec3{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    background: $purple;

    .lens1{
      right: 110px;
      top: -15%;
    }
    .lens2{
      left: 80px;
      bottom: 111px;
    }
    .starW{
      width: 10px;
      left: 40px;
      // top: 21%;
      top: 185px;
    }
    .starWs{
      width: 12px;
      right: 43px;
      top: 59%;
      opacity: .3;
    }
    .starWss{
      width: 12px;
      left: 120px;
      top: 94%;
      opacity: 1;
    }

    img{
      // width: 294px;
      margin: 0px 10px 10px;
    }

    p{
      font-size: 13px;
      margin-top: 9px;
      margin-bottom: 67px;
      padding: 0 63.925px;
      font-weight: 300;
      line-height: 2;
      min-width: 321px;
    }
  }

  .sec3::before{
    content: '';
    position: absolute;
    top: -75px;
    width: 100vw;
    height: 7em;
    z-index: -3;
    background: green;
    background: $purple;
    // margin-top: -20px;
  }
  .sec4{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    padding: 0 0 58.65px;
    background: $purple;

    .lens3{
      top: 40px;
      right: 20%;
    }
    .lens4{
      bottom: 0px;
      right: -20%;
      opacity: .7;
    }
    .starP{
      width: 13px;
      top: -4.5%;
    }
    .starW{
      width: 10px;
      top: 86%;
      right: 10%;
    }
    .starWs{
      width: 12px;
      top: 11%;
      right: 41%;
      opacity: .4;
    }

    img{
      width: 332px;
      // height: 382px;
      margin: 74px auto 1px;
    }

    .sec4-2{
      p{
        font-size: 12px;
        margin-top: 16px;
        margin-bottom: 14px;
        padding: 0 73.925px;
        font-weight: 300;
        line-height: 2;
        min-width: 321px;

        span{
          // color: $pink;
          color: #FF26B9;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }

  .FAQ{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin: 60px 43.925px 58.65px;
    z-index: 1;

    .starP{
      width: 18px;
      top: -2%;
      left: 0;
    }

    .FAQ1{
      margin-bottom: 86px;

      p{
        font-size: 12px;
        line-height: 2;
        margin: 6px auto 45.69px;
      }
      .FAQbody{
        text-align: left;

        p{
          margin: 0;
          font-size: 12px;
          line-height: 1.5;
          margin: 10px 0 6px;
          padding-right: 50px;
        }

        .question{
          display: flex;
          align-items: flex-end;

          .icon{
            margin-left: auto;
            font-size: 20px;
            color: $pink;
            cursor: pointer;
          }
        }
      }
    }


    .FAQ2{
      position: relative;

      .quesMark{
        right: 55%;
        top: -10%;
      }
      .s{
        transform: scale(.6);
        right: 35%;
        top: -4%;
      }
      .s:nth-child(2){
        right: 75%;
      }

      .starW{
        width: 16px;
        bottom: -2%;
        right: 17%;
      }
      .starWs{
        width: 10px;
        top: 50%;
        left: 5%;
        opacity: .4;
      }
      .starG{
        width: 10px;
        left: 50%;
        top: -5%;
      }
      .starGs{
        width: 7px;
        left: 20%;
        top: 30%;
      }
    }
  }

  .timeline{
    padding: 45.68px;

    .starP{
      width: 14px;
      top: 20%;
      left: 21%;
    }

    .starW{
      width: 10px;
      right: 20%;
      top: 54.5%;
    }

    .starWs{
      width: 10px;
      left: 7%;
      bottom: 3%;
      opacity: .4;
    }

    hr{
      border: none;
      border-left: 2px solid $pink;
      height: 75px;
    }

    .timeline1{
      text-align: center;
      margin-top: 40px;

      h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 17px;
      }

      p{
        margin-bottom: 56px;
        line-height: 2;
      }
    }

    .timeline2{
      p{
        font-size:  12px;
        font-weight: 100;
      }
      .emp{
        color: $pink;
        font-weight: bold;
      }

      .timelines{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 33.37px;

        .bullet{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 9px;

          p{
            width: 19.32px;
            height: 19.32px;
            border-radius: 100%;
            background: $primaryColor;
            text-align: center;
            margin-top: 4.68px;
          }
        }

        .content{
          p:nth-child(1){
            margin-bottom: 5px;
          }
          p:nth-child(3){
            margin-top: 5px;
          }
        }
      }
    }
  }

  .prizes{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    padding: 72px 0px;
    text-align: center;
    background: $purple;
    // background: rgba(0, 0, 0, 0.2);
    background: rgba(16, 10, 33, 0.73);
    z-index: 1;

    .starG{
      width: 8px;
      top: 11%;
      right: 25%;
    }

    .starW{
      width: 10px;
      left: 14%;
      top: 56%;
    }

    .starWs{
      width: 10px;
      right: 17%;
      bottom: 37%;
    }
    .starWss{
      width: 10px;
      right: 30%;
      bottom: 5%;
      opacity: .4;
    }

    .lens5{
      top: 20px;
      right: 10%;
    }
    .lens6{
      right: -35%;
      bottom: -20px;
    }

    .prizes1{
      p{
        margin-top: 3px;
        font-size: 12px;
        width: 250px;
      }
    }

    .prizes2{
      display: flex;
      flex-direction: column;
      place-items: center;
      margin: 40px;

      .image{
        img{
          width: 321px;
          // margin-bottom: 113.4px;
          margin-bottom: 60px;
        }
      }

      .rewards{
        margin: 51.41px 0 0;
        display: flex;
        gap: 10px;
      }
    }
  }
  .prizes::before{
    content: "";
    width: 100vw;
    background-color: #FF0000;
    position: absolute;
  }


  .partners{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    padding: 41px;
    background: $purple;

    .lens7{
      top: -20%;
      right: 20%;
    }
    .lens8{
      bottom: -180px;
      right: -80px;
    }
    .starP{
      width: 8px;
      top: 38%;
      left: 14%;
    }
    .starW{
      width: 10px;
      top: 67%;
      right: 17%;
    }

    .partner1{
      h2{
        font-size: 20px;
        font-weight: bold;
      }
      p{
        font-size: 12px;
        padding: 5px 20px;
        line-height: 1.7;
        font-weight: 100;
        margin-bottom: 41px;
      }
    }

    .partner2{
      border: 1px solid $pink;
      border-radius: 5px;
      // padding: 38.21px 63.88px;
      padding: 38.21px 40px;
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: 36.08px auto 36.08px;
      place-items: center;
      place-content: center;
      margin-bottom: 104.41px;

      hr{
        border: none;
      }
      .vertical{
        border-left: 2px solid $pink;
        height: 29.84px;
        margin: 5px 10px;
      }

      .horizontal{
        border-bottom: 2px solid $pink;
        width: 68.27px;
        margin: 2px 0px;
      }
      .libA{
        width: 31.99px;
      }
      .libP{
        width: 56.57px;
      }
      .winwise{
        width: 34.92px;
      }
      .wisper{
        width: 39.01px;
      }
      .pay{
        width: 54.23px;
        font-size: 12px;

        span{
          color: #00A3FF;
        }
      }
      .vplus{
        display: flex;
        flex-direction: column;
        width: 69px;

        .virtual{
          font-size: 12px;

          span{
            color: #FF0000;
          }
        }
        .tg{
          font-size: 4px;
          margin-left: auto;
        }
      }
    }
  }

  .privacy{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    padding: 71px 47px;

    .lens9{
      position: absolute;
      top: 35%;
      right: 25%;
    }
    .lens10{
      position: absolute;
      top: -9%;
      right: -25%;
    }

    p{
      font-size: 12px;
      line-height: 2;
      font-weight: 400;
    }
    .privacy1{
      .starP{
        width: 17px;
        top: 22%;
        right: 8%;
      }
      .starW{
        width: 8px;
        right: 20%;
        top: -4%;
        opacity: .4;
      }
      .starG{
        width: 17px;
        left: -8%;
        bottom: 20%;
      }

      margin-bottom: 48px;
      position: relative;

      .head{
        margin-bottom: 28px;
      }

      .details{
        margin-bottom: 30px;
        padding: 12px;
      }

      .guidelines{
        background: #D9D9D908;
        border: 1px solid $pink;
        border-radius: 5px;
        padding: 45px 20px;

        .desc{
          // padding: 20px;
          margin-bottom: 21px;
          font-weight: 100;
        }

        .emp, .sub{
          text-align: left;
          font-weight: bold;
          font-size: 12px;
        }

        .emp{
          font-size: 13px;
          color: $pink;
        }

        .lPolicy{
          display: flex;
          align-items: start;
          justify-content: space-between;
          text-align: left;
          margin: 20px auto;

          img{
            width: 22px;
            // height: 22px;
            margin-top: 4px;
          }

          p{
            width: 215px;
            padding: 0;
          }
        }
      }
    }

    .privacy2{
      position: relative;
      .starP{
        width: 17px;
        top: 13%;
        left: -13%;
      }
      .starW{
        width: 8px;
        top: 18%;
        right: 20%;
      }
      .starWs{
        width: 10px;
        bottom: 30%;
        left: 13%;
      }
      .starWss{
        width: 10px;
        bottom: 29%;
        right: 2%;
        opacity: .4;
      }


      .shield{
        width: 249px;
        margin-bottom: 219px;
      }

      .guard{
        position: absolute;
        top: 96px;
        right: 11px;
        width: 262px;
      }
    }
  }

  .footer{
    padding: 51px 68px;
    background: rgba(0, 0, 0, 0.2);

    .foot1{
      .starW{
        width: 15px;
        top: 45%;
        right: 50%;
        opacity: .4;
      }
      .starWs{
        width: 9px;
        top: 17%;
        left: 9%;
      }
      .starWss{
        width: 7px;
        bottom: 26%;
        right: 20%;
      }
      .starG{
        width: 7px;
        bottom: 14%;
        left: 33%;
      }

      h3{
        font-size: 14px;
        font-weight: 500;
        color: $pink;
        margin-bottom: 6px;
      }
      .emp{
        color: $pink;
      }
      .about{
        .flogo{
          margin-right: auto;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 12px;

          span{
            color: $pink;
          }
        }

        p{
          font-size: 12px;
          font-weight: 100;
        }

        .aboutDesc{
          margin-bottom: 39px;
        }

        aside{
          display: flex;
          margin-bottom: 32px;

          hr{
            border-left: 1px solid $pink;
            height: 17px;
            margin: 0px 12px;
          }
        }
      }

      .fNav{
        margin-bottom: 61px;

        p{
          font-size: 12px;
          margin-bottom: 12px;
        }

        aside{
          p{
            margin: 0;
          }
          .ig, .li{
            width: 24px;
          }
          .x{
            width: 19px;
          }
          .fb{
            width: 10.5px;
          }
          display: flex;
          gap: 16px;
          place-items: center;
          // place-content: center;
        }
      }

      .contact{
        p{
          font-size: 12px;
        }
        div{
          img{
            margin-top: 4px;
          }
          display: flex;
          align-items: start;
          gap: 16px;
          margin-bottom: 23px;
        }
      }
    }

    .foot2{
      text-align: center;
      margin-top: 60px;
      p{
        font-size: 12px;
      }
    }
  }



  .contact{
    position: relative;
    padding: 47px 46px;
    display: flex;
    flex-direction: column;
    place-content: center;

    .lens{
      left: -20%;
      top: 7%;
    }
    .starG{
      width: 11px;
      top: 8%;
      left: 45%;
    }
    .starW{
      width: 12px;
      bottom: 24%;
      right: 7%;
    }
    .starWs{
      width: 16px;
      top: 17%;
      right: 12%;
      opacity: .4;
    }
    .starP{
      width: 12px;
      bottom: 16%;
      left: 9%;
    }

    .back{
      position: relative;
      display: flex;
      place-content: center;
      place-items: center;
      padding: 10px;
      width: 23px;
      height: 23px;
      margin-bottom: 41px;
      background: $primaryColor;
      border-radius: 100%;

      &::after{
        content: '<';
        box-sizing: border-box;
        display: flex;
        place-content: center;
        place-items: center;
        font-size: 12px;
        padding-bottom: 1px;
        width: 21px;
        height: 21px;
        border-radius: 100%;
        // top: px;
        left: 1px;
        position: absolute;
        background-color: $purple;
      }
    }
    .aside{
      display: flex;
      align-self: center;
      flex-direction: column;
      place-items: center;
      margin-top: 41px;

      p{
        font-size: 12px;
        color: $pink;
      }

      div{
        display: flex;
        align-items: center;
        gap: 12px;

        .ig, .li{
          width: 17px;
        }
        .X{
          width: 13px;
        }
        .fb{
          width: 7px;
        }
      }
    }

    .heading{
      color: $pink;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.3;
      width: 195px;
    }

    .sHeading{
      font-size: 12px;
      width: 239px;
      margin: 24px 0 30px;
    }

    form{
      display: flex;
      flex-direction: column;
      gap: 25px;
      text-align: center;

      input{
        height: 47px;
        padding: 0 16px;
        font-size: 16px;

        &::placeholder{
          color: #fff;
        }
      }

      textarea{
        text-align: left;
        height: 160px;
        padding: 27px 24px;
        font-size: 16px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid #fff;
        border-radius: 4px;

        &::placeholder{
          color: #fff;
        }
      }

      button{
        width: fit-content;
        align-self: center;
      }
    }
  }

  .reg-confirm{
      .register{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 24px 62px;
        // z-index;
        opacity: 1;

        .lens{
          left: -15%;
          top: 5%;
        }
        .starP{
          width: 14px;
          right: 15%;
          top: 20%;
        }
        .starW{
          width: 14px;
          left: 10%;
          top: 42%;
          opacity: .4;
        }
        .starPs{
          width: 9px;
          right: 13%;
          bottom: 22.5%;
        }

        .title{
          font-size: 15px;
          font-weight: bold;
          color: $pink;
        }

        .reg1{
          margin: 20px auto;

          img{
            width: 195px;
          }
        }

        .reg2{
          h1{
            font-size: 20px;
            text-transform: uppercase;
            margin: 4px 0 23px;
          }
          aside{
            display: flex;
            place-items: center;
            align-items: last baseline;
            gap: 6.18px;
            p{
              font-size: 12px;
            }


            .dot{
              display: flex;
              place-content: center;
              width: 89.1px;
              border-bottom: 1px dotted $pink;
            }
          }

          form{
            position: relative;
            flex: 1 1;
            display: flex;
            flex-direction: column;

            label{
              font-size: 13px;
              margin-bottom: 5px;
            }
            input{
              height: 39px;
              padding: 0 31px;
              font-size: 13px;
              margin-bottom: 15px;
            }

            .cat-size{
              // width: inherit;
              gap: 24px;
              overflow: hidden;
              position: relative;
              display: flex;

              .cat input{
                max-width: 155px;
              }

              .size input{
                max-width: 87px;
              }
            }

            .note{
              font-size: 9px;
              color: $pink;
            }

            .terms{
              display: flex;
              gap: 5px;
              align-items: flex-start;
              justify-tracks: 1;

              .term{
                font-size: 10px;
                margin-top: 12px;
              }

              [type="checkbox"]{
                background: rgba(255, 255, 255, 0.03);
                border: 1px solid #ff0000;
                border-radius: 4px;
              }
            }

            button{
              width: fit-content;
              align-self: center;
            }
          }
        }
      }

      .confirmed{
        position: absolute;
        padding: 40px;
        background: rgba(21, 14, 40, 0.93);
        min-height: 100%;

        .confirmation{
          position: relative;
          margin-top: 170px;
          // height: 467px;
          border: 1px solid $pink;
          border-radius: 5px;
          padding: 25px 29px 25px;
          display: flex;
          flex-direction: column;
          place-items: center;
          text-align: center;

          .starP{
            width: 10px;
            top: -5%;
            right: 0%;
          }

          .starW{
            width: 14px;
            left: 15%;
            top: 40%;
            opacity: .4;
          }

          .starG{
            width: 11px;
            right: 10%;
            bottom: -10%;
          }

          .imgs{
            // position: absolute;
            padding-left: 70px;
            .tick{
              width: 174.62px;
              top: 4%;
              left: 8%;
              position: absolute;
            }
            .cheers{
              width: 184.92px;
              z-index: 3;
            }
          }

          h2{
            font-size: 18px;
            font-weight: bold;
            line-height: 1.3; margin: 27px auto;
          }

          p{
            font-size: 12px;
            margin-bottom: 16px;
          }

          button{
            width: 100%;
          }
        }
      }

  }
}