#root {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  color: white;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

.hidden{
  display: none;
}

.up{
  transform: rotate(180deg);
  transition: all ease-out 250ms;
}
.down{
  transform: rotate(360deg);
  transition: all ease-out 250ms;
}